<div class="row justify-content-center">
    <table id="answersTable" data-buttons-align="left" data-buttons="buttons" data-pagination="true" data-search="true">
        <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-sortable="true" data-field="ANSWER">Answer</th>
            <th data-sortable="true" data-field="CATEGORY_NAME">Category</th>
            <th data-sortable="true" data-field="FREQUENCY">Frequency</th>
            <th data-field="ID">Answer ID</th>
        </tr>
        </thead>
    </table>
</div>
<br>