<hr id="answerTitle">
    <h3>
        Answer Lines -
        <small class="text-muted" id="totalHolder">Saved Total: <a id="totalSavedNum"><%=chosenSet.answerLines.length%></a></small>
    </h3>
<hr>