<br>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="">
            <label for="floatingInputSearch">Search Answers</label>
            <input type="text" class="form-control" id="floatingInputSearch" placeholder="Answers">
        </div>
    </div>
    <div class="col-1 my-auto">
        <button id="startSearch" class="btn btn-primary">Search</button>
    </div>
</div>
<br>
<hr>