<div class="px-5 rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Ari</h1>
        <div class="row justify-content-center" style="height: 400px;">
            <div class="col-10">
                <p class="col-md-8 fs-4 text-wrap">Hi! So this is me, the guy who spent time making this, which he could've spent playing video games or reading manga. So follow me on Instagram (@arihantbapna) or add me on Discord (Ari#6713) if you wanna talk about code. </p>
            </div>
            <div class="col-2">
                <img src="/images/Ari.jpg" class="img-fluid" alt="This is me!"/>
            </div>
        </div>
    </div>
</div>