<div class="p-5 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Contact Us</h1>
        <p class="col-md-8 fs-4">To request access to resources and start training today, contact a representative of the WCHS Quizbowl Team. Our email is monitored daily and someone from our team will reach out to you within 48 hours.</p>
        <button class="btn btn-primary btn-lg" id="copyButt" type="button" data-text="arihantbapna0211@gmail.com">Copy Email</button>
    </div>
</div>
<%-include('scripts/contactScript.ejs')%>
<%-include('toast.ejs')%>