<div class="px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Tertius-Sermo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to the future of Quizbowl Studying, where the software learns what you know and don't know, actually helping you study and get better. Not only that, but our engine's AI/ML powered Analysis on the QuizDB database has found the most common answer lines AND their respective most common clues! </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" onclick="window.location.replace('/train');" class="btn btn-primary btn-lg px-4 gap-3">Start Training</button>
            <button type="button" onclick="window.location.replace('/sets');" class="btn btn-outline-secondary btn-lg px-4">View Sets</button>
        </div>
    </div>
</div>
