<div style="height: 5px; background-color: rgba(0,0,0,0.2); border-radius: 0; margin-bottom: 10px;  "  class="progress" id="finProg">
    <div class="progress-bar" id="progCount" style="background-color: #e7ad52; width: 0;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>