<div class="reveal" id="flashCards">
    <div class="slides font-monospace">
        <%clues.forEach(c => {%>
        <section class="d-flex" data-transition="none">
            <section class="vertical-center justify-content-center">
                <div>
                    <h2 class="text-wrap"><%-c.CLUE%></h2>
                </div>
            </section>
            <section class="d-flex vertical-center  justify-content-center">
                <div>
                    <h2 class="text-wrap"><%-c.ANSWER%></h2>
                </div>
            </section>
            <section class="d-flex vertical-center  justify-content-center">
                <div>
                    <h2 class="text-wrap"><%-c.ID%></h2>
                </div>
            </section>
        </section>
        <%})%>
    </div>
</div>