<div class="row row-cols-1 row-cols-md-auto justify-content-center" id="mainRange">
    <div class="col">
        <label for="cat14" data="cat14" class="form-label">Mythology: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat14" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat15" data="cat15" class="form-label">Literature: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat15" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat16" data="cat16" class="form-label">Trash: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat16" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat17" data="cat17" class="form-label">Science: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat17" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat18" data="cat18" class="form-label">History: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat18" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat19" data="cat19" class="form-label">Religion: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat19" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat20" data="cat20" class="form-label">Geography: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat20" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat21" data="cat21" class="form-label">Fine Arts: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat21" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat22" data="cat22" class="form-label">Social Sciences: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat22" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat25" data="cat25" class="form-label">Philosophy: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat25" onchange="updateTextInput(this.value, this.id);">
    </div>
    <div class="col">
        <label for="cat26" data="cat26" class="form-label">Current Events: 0</label>
        <input type="range" min="0" max="1" step="0.05" value="0" class="form-range" id="cat26" onchange="updateTextInput(this.value, this.id);">
    </div>
</div>