<div class="my-auto">
    <div class="row justify-content-center">
        <table data-buttons-align="right" data-pagination="true" data-search="true" data-buttons="deleteButton" id="selectedTable" data-virtual-scroll="true">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-sortable="true" data-field="ANSWER">Answer</th>
                <th data-sortable="true" data-field="CATEGORY_NAME">Category</th>
                <th data-sortable="true" data-field="FREQUENCY">Frequency</th>
                <th class="d-none d-md-table-cell"  data-field="ID">Answer ID</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<hr>