<footer class="bg-dark text-center text-lg-start" id="finFooter">
    <!-- Copyright -->
    <div class="text-center p-3 text-light">
        <%=footerText%> - <a href="https://github.com/ArihantBapna/">Ari</a>
    </div>
    <!-- Copyright -->
</footer>

<!-- Scripts -->
<%- include('scripts.ejs')%>