<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img style="-webkit-filter: invert(1); filter: invert(1);" src="/images/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a <% if(title === 'Home') { %> class="nav-link active" <% } else { %> class="nav-link" <% } %>  aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a <% if(title === 'Sets' || title === 'Edit Sets' || title === 'Create Sets') { %> class="nav-link active" <% } else { %> class="nav-link" <% } %> href="/sets">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            <%if(loggedIn){%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <%}%>
            </ul>
            <span class="navbar-text">
        Get it by the third word
      </span>
        </div>
    </div>
</nav>