<!DOCTYPE html>
<html lang="english">
        <%-include('../partials/globals/header.ejs')%>
    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <%-include('../partials//login/loginForm.ejs')%>

        <%-include('../partials/globals/footer.ejs')%>
    </body>
</html>
