<!DOCTYPE html>
<html lang="english">
        <%-include('../partials/globals/header.ejs')%>
    <body class="gradient-custom">
        <%-include('../partials/globals/navbar.ejs')%>

        <div class="holder">
            <%-include('../partials//login/loginForm.ejs')%>
        </div>

        <%-include('../partials/globals/footer.ejs')%>

    </body>
</html>
