<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>

    <%-include('../partials/globals/navbar.ejs')%>

    <div class="holder">

    </div>

    <%-include('../partials/globals/footer.ejs')%>

    </body>


</html>