<!DOCTYPE html>
<html lang="english">

    <!-- Header -->
        <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <% sets.forEach(function(value) { %>
            <li><%=value.name%></li>
        <%});%>

        <%-include('../partials/globals/footer.ejs')%>
    </body>
</html>