<!DOCTYPE html>
<html lang="english">
    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <div class="holder" id="flashCards">

            <div class="reveal">
                <div class="slides" style="font-size: 7rem;">
                    <section>Slide 1</section>
                    <section>Slide 2</section>
                    <section>
                        <section>
                            <h2 class="r-fit-text">VS 1</h2>
                        </section>
                        <section>VS 2</section>
                        <section>VS 3</section>
                    </section>
                </div>
            </div>

        </div>


        <%-include('../partials/globals/footer.ejs')%>
        <script src="/javascripts/plugins/customcontrol/plugin.js"></script>

        <!-- Reveal configurations -->
        <script>
            function doNext(){
                Reveal.right();
            }
            function doPrev(){
                Reveal.left();
            }
            function doUp(){
                Reveal.up();
            }
            function doDown() {
                Reveal.down();
            }

            Reveal.initialize({
                controls: false,
                controlsTutorial: true,
                progress: false,
                slideNumber: false,
                touch: false,
                // Learn about plugins: https://revealjs.com/plugins/
            });
            Reveal.configure({
                keyboard:{
                    //Move to the right
                    39: () => {doNext()}, // Right arrow
                    76: null, // L
                    78: null, //N
                    32: null, // Space

                    //Move to the left
                    80: null, // P
                    37: () => {doPrev()}, // Left arrow
                    72: null, // H

                    //Move up
                    38: () => {doUp()}, // Up Arrow
                    75: null, // K

                    //Move down
                    40: () => {doDown()},
                    74: null, // J

                    // Pause
                    66: null, // B
                    190: null, // Period

                    // Overview
                    27: null, // Esc
                    79: null, // O



                }
            })
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var fc = document.getElementById("flashCards");
            var mc = new Hammer(fc);
            mc.on('swipeleft', function(ev) {
               doNext();
            });
            mc.on('swiperight', function (ev){
                doPrev();
            });
            mc.on('swipeup', function(ev){
                doUp();
            });
            mc.on('swipedown', function(ev){
               doDown();
            });
        </script>

    </body>

</html>