<!DOCTYPE html>
<html lang="english">
    <!-- Header -->
    <%-include('../partials/globals/header.ejs')%>
    <!-- End Header -->

    <body>
        <%-include('../partials/globals/navbar.ejs')%>

        <div class="container py-2">
            <nav class="navbar navbar-dark bg-transparent">
                <div class="container-fluid justify-content-end">
                    <button class="btn btn-primary me-2" type="button">Next</button>
                    <button class="btn btn-success me-2" type="button">Buzz</button>
                    <button class="btn btn-warning me-2" type="button">Pause</button>
                </div>
            </nav>
        </div>

        <%-include('../partials/globals/footer.ejs')%>
    </body>

</html>